<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yuyo.hikaru.activity">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.App.Activity">
        <activity
            android:name="com.yuyo.hikaru.activity.SplashActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.yuyo.hikaru.activity.LoginActivity" />
        <activity android:name="com.yuyo.hikaru.activity.HomeActivity" />
        <activity android:name="com.yuyo.hikaru.activity.RegisterActivity" />
        <activity
            android:name="com.yuyo.hikaru.activity.ProfileActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name="com.yuyo.hikaru.activity.CourseActivity" />
        <activity android:name="com.yuyo.hikaru.activity.CreateCourseActivity" />
        <activity android:name="com.yuyo.hikaru.activity.AboutUsActivity" />
        <activity android:name="com.yuyo.hikaru.activity.InformationActivity"
            android:parentActivityName="com.yuyo.hikaru.activity.HomeActivity"/>
        <activity
            android:name="com.yuyo.hikaru.activity.SettingsActivity"
            android:label="Preferences">
        </activity>
    </application>

</manifest>
